/* 2025 SOOHYUN PORTFOLIO */
* {
    cursor: none;
}

html {
    overscroll-behavior: contain;
}

body {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #2b3e41;
    font-family: 'Spoqa Han Sans Neo', sans-serif;
    font-weight: 300;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

/* ANIMATION */
@keyframes logo {
    to {
        top: 16px;
        left: 50px;
        font-size: 18px;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
}

@keyframes fadeIn {
    0% {
        text-shadow: 5px 0px 0px rgba(112, 185, 145, 0.65);
    }

    100% {
        color: #53787d;
        text-shadow: 1px 2px 2px #2b3e41;
    }
}

@keyframes background_show {
    0% {
        transform: translateX(68%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes background_hide {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes ping {
    from {
        opacity: .2;
        -webkit-transform: translate(-50%, -50%) scale(.4, .4);
        -ms-transform: translate(-50%, -50%) scale(.4, .4);
        -moz-transform: translate(-50%, -50%) scale(.4, .4);
        transform: translate(-50%, -50%) scale(.4, .4);
    }

    to {
        opacity: .8;
        -webkit-transform: translate(-50%, -50%) scale(1.8, 1.8);
        -ms-transform: translate(-50%, -50%) scale(1.8, 1.8);
        -moz-transform: translate(-50%, -50%) scale(1.8, 1.8);
        transform: translate(-50%, -50%) scale(1.8, 1.8);
    }
}

@keyframes wheelMove {
    0% {
        top: 0;
        opacity: 0;
    }

    80% {
        opacity: .8;
    }

    100% {
        top: 72%;
        opacity: 0;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.logo {
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 60px;
    font-weight: 700;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    animation: logo .5s ease-in-out forwards;
    animation-delay: 1.2s;
    z-index: 9999;
}

.logo>span {
    display: inline-block;
    color: #eee7da;
    animation: fadeIn .8s ease-in-out forwards;
}

.logo>span:nth-child(2) {
    animation-delay: .2s;
}

.logo>span:nth-child(3) {
    animation-delay: .4s;
}

.logo>span:nth-child(4) {
    animation-delay: .6s;
}

.logo>span:nth-child(5) {
    animation-delay: .8s;
}

.logo>span:nth-child(6) {
    animation-delay: 1s;
}

.logo>span:nth-child(7) {
    animation-delay: 1.2s;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 50px);
    height: 50px;
    line-height: 50px;
    z-index: 9999;
}

.header:after {
    display: block;
    clear: both;
    content: "";
}

.header .menu_bx {
    float: right;
}

.header .menu_bx:after {
    display: block;
    clear: both;
    content: "";
}

.header .menu_bx .menu {
    position: relative;
    float: left;
    color: #53787d;
    font-size: 18px;
    font-weight: 500;
    transition: all 1.2s;
}

.header .menu_bx .menu.dark {
    color: #003855;
}

.header .menu_bx .menu.on:before {
    position: absolute;
    left: 0;
    bottom: 8px;
    width: 100%;
    height: 2px;
    background-color: #53787d;
    transition: all .7s;
    content: "";
}

.header .menu_bx .menu.dark:before {
    background-color: #003855;
}

.header .menu_bx .menu.dark:hover:before {
    background-color: #003855;
}

.header .menu_bx .menu+.menu {
    margin-left: 20px;
}

.arrow {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    right: 40px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 200;
}

.arrow>button {
    width: 46px;
    height: 46px;
    background: transparent;
    line-height: 46px;
    text-align: center;
    border: 2px solid #53787d;
    border-radius: 50px;
    transition: all 1.2s;
}

.arrow>button+button {
    margin-top: 20px
}

.arrow .prev {
    background: url('../img/i_up_arrow.png') center no-repeat;
    background-size: 20px 20px;
}

.arrow .next {
    background: url('../img/i_down_arrow.png') center no-repeat;
    background-size: 20px 20px;
}

.arrow.dark>button {
    border: 2px solid #003855;
}

.arrow.dark .prev {
    background: url('../img/i_up_arrow_d.png') center no-repeat;
    background-size: 20px 20px;
}

.arrow.dark .next {
    background: url('../img/i_down_arrow_d.png') center no-repeat;
    background-size: 20px 20px;
}

.scroll {
    position: fixed;
    left: 50%;
    bottom: 40px;
    width: 30px;
    height: 50px;
    background-color: transparent;
    border: 3px solid #fff;
    border-radius: 28px;
    box-sizing: border-box;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    transition: all 1s;
    z-index: 100
}

.scroll .dot {
    position: absolute;
    left: 50%;
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    animation: wheelMove 1.6s ease-in-out infinite;
}

.scroll.dark {
    border: 3px solid #53787d;
}

.scroll.dark .dot {
    background-color: #53787d;
}

.bg-point {
    position: absolute;
    top: -30px;
    right: 0;
    width: 68%;
    height: 140%;
    background-color: #eee7da;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.bg_show {
    animation: background_show 1.2s forwards;
}

.bg_hide {
    animation: background_hide 0.6s forwards;
}

.cursor {
    position: fixed;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #70b991;
    opacity: 0.6;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 9999;
}

.cursor.active {
    opacity: 0.8;
}

.cursor.active .ring {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border: 1px solid #53787d;
    border-radius: 50%;
    animation: ping 1s ease-out infinite;
}

/* COMMON */
.container {
    overflow: hidden;
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.container.on {
    animation: fade 2.5s ease-in-out forwards;
}

.container .features {
    position: absolute;
    top: 0;
    width: calc(100% - 86px);
    height: 100%;
    touch-action: none;
}

.container .features>.feature {
    position: absolute;
    width: 100%;
    height: 100%;
    touch-action: none;
}

/* Profile */
.features-profile {
    display: flex;
    justify-content: center;
    align-items: center;
}

.features-profile .features-common_inner {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 580px;
    padding: 0 50px;
    background-color: #eee7da;
    box-shadow: 4px 6px 30px -15px #000;
    border-radius: 65px;
}

.features-profile__info {
    color: #2b3e41;
    font-size: 70px;
    font-weight: 700;
}

.features-profile__info>div+div {
    margin-top: 30px;
    margin-left: 10px;
}

.features-profile__info .t_txt>p+p {
    margin-top: 10px;
}

.features-profile__info .t_txt>p>span {
    color: #fcce77;
    text-shadow: 1px 2px 2px #2b3e41;
}

.features-profile__info .sub_txt {
    font-size: 18px;
    font-weight: 500;
}

.features-profile__info .sub_txt>p+p {
    margin-top: 6px;
}

.features-profile__info .sub_txt>p>span {
    padding: 0 5px;
    background: #fcce77;
    border-radius: 20px;
}

.features-profile__info .tag_list {
    display: flex;
    flex-wrap: wrap;
    width: 630px;
    margin-top: 30px;
}

.features-profile__info .tag_list .tag {
    position: relative;
    overflow: hidden;
    width: 130px;
    height: 50px;
    color: #2b3e41;
    font-size: 16px;
    text-align: center;
    line-height: 44px;
    border: 3px solid #2b3e41;
    border-radius: 28px;
    box-sizing: border-box;
    transition: all .5s;
    border-collapse: separate;
    border-spacing: 0;
}

.features-profile__info .tag_list .tag:hover {
    color: #fff;
    background-color: #2b3e41;
}

.features-profile__info .tag_list .tag:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #2b3e41;
    border-radius: 28px;
    transition: all .6s;
    content: "";
    z-index: -1;
}

.features-profile__info .tag_list .tag:hover:before {
    width: 100%;
}

.features-profile__info .tag_list .tag+.tag {
    margin-left: 10px;
}

.features-profile__info .tag_list .tag:nth-child(5) {
    margin-left: 0;
}

.features-profile__info .tag_list .tag:nth-child(n+5) {
    margin-top: 10px;
}

.features-profile__img {
    position: relative;
    max-width: 420px;
    height: 446px;
    margin-left: 50px;
    z-index: 20;
}

.features-profile__img:before {
    position: absolute;
    top: -8px;
    left: -32px;
    width: 420px;
    height: 446px;
    background-color: #53787d;
    border-radius: 50%;
    z-index: 10;
    content: "";
}

.features-profile__img>img {
    position: relative;
    width: 100%;
    height: 100%;
    border: 3px solid #eee7da;
    border-radius: 50%;
    z-index: 20;
}

/* work exprience */
.features-experience {
    display: flex;
    justify-content: center;
}
.features-experience .features-common_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 60px 80px 100px 80px;
}

.features-experience__list-wrap {
    width: calc(38% - 50px);
    border-right: 2px solid #2b3e41;
    padding-right: 50px;
}

.features-experience__list {
    position: relative;
    width: calc(100% - 50px);
    max-width: 600px;
    padding: 20px;
    background-color: #eee7da;
    color: #2b3e41;
    border-radius: 20px;
    box-shadow: 4px 6px 30px -15px #000;
    transition: 0.3s ease-in;
}

.features-experience__list.on {
    background-color: #53787d;
    color: #eee7da;
}

.features-experience__list+.features-experience__list {
    margin-top: 50px;
}

.features-experience__list:before {
    position: absolute;
    top: 50%;
    right: -75px;
    width: 30px;
    height: 30px;
    background-color: #2b3e41;
    border-radius: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    content: "";
}

.features-experience__list>p+p {
    margin-top: 20px;
}

.features-experience__list-title {
    font-size: 20px;
    font-weight: 700;
}

.features-experience__list-info {
    font-size: 18px;
}

.features-experience__detail>div+div {
    margin-top: 50px;
}

.features-experience__detail-wrap {
    position: relative;
    max-width: 800px;
    width: calc(62% - 100px);
    height: 100%;
    margin-left: 100px;
    text-align: right;
    font-size: 18px;
}

.features-experience__detail {
    position: absolute;
    top: 150px;
    right: 0;
    color: #2b3e41;
    opacity: 0;
    transition: 0.4s ease-in;
}

.features-experience__detail.on {
    opacity: 1;
}

.features-experience__detail-title>p+p {
    margin-top: 20px;
}

.features-experience__detail-title-headline {
    font-size: 30px;
    font-weight: 700;
}

.features-experience__detail-info {
    font-size: 18px;
}

/* contact */
.features-contact .features-common_inner{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 50px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: #eee7da;
    box-shadow: 0px 3px 25px -5px #000;
    border-radius: 40px;
}

.features-contact__detail-headline {
    font-size: 50px;
    font-weight: 700;
}

.features-contact__detail>div+div {
    margin-top: 30px;
}

.features-contact__detail-item {
    position: relative;
    font-size: 24px;
}

.features-contact__detail-item:before {
    position: absolute;
    top: 38px;
    left: 0;
    width: 40px;
    height: 4px;
    background-color: #fcce77;
    border-radius: 2px;
    content: "";
}

.features-contact__detail-item>p+p {
    margin-top: 30px;
}

.features-contact__detail-phone {
    margin-top: 40px;
}

/* TABLET */
@media screen and (max-width:1366px) {
    * {
        cursor: default;
    }

    .scroll {
        display: none;
    }

    .cursor {
        display: none;
    }

    .arrow {
        flex-direction: row;
        top: initial;
        left: 50%;
        bottom: 50px;
        width: 120px;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .arrow>button+button {
        margin-top: 0;
        margin-left: 15px;
    }
}

@media screen and (max-width:1024px) {}

/* MOBILE */
@media screen and (max-width:767px) {}